.about-us {
    padding: $sp-5 $sp-3;
    
    &__img {
        padding: 0 20%;

        @include mq(tablet) {
            padding: 0;
        }
    }

    &__desc{
        font-family: $second-font;
        padding: 0 $sp-2;
        line-height: 2;
        
        p {
            margin-bottom: $sp-3;
        }
    }

    a {
        color: $yellow-base;
        
        &:hover {
            color: $purple-base;
        }    
    }

    &__links {

        a {
            display: block;
            line-height: 3;
        }
    }
}