.about {
    $size: 6rem;
    padding-top: $size;
    padding-bottom: $size;

    &__logo {
        max-width: 22rem;
        display: block;
        margin: 0 auto;
    }

    p {
        font-family: $title-font;
        font-size: $min-size;
        line-height: 1.8;

        margin-bottom: 2rem;
    }

    a {
        color: $yellow-base;
    }

}