.faq {
  padding: 6rem 0;

  h2 {
    font-size: $shows-size;
  }

  &__contact {
    @include media('>=tablet'){
        display: block;
    }
    h3 {
      font-size: $title-size;
      margin-bottom: 1rem;
    }
  }

}