.shows-home{

    &__btn {
        display: block;
        margin: 5rem auto 2rem auto;
    }
}

// Galery of Merchandise
.merchandise {
    --size: 4rem;
    padding-top: var(--size);
    padding-bottom: var(--size);


    &__logo {
        width: 5rem;
        margin-right: 1rem;
    }

    &__title {
        display: inline-block;
        
        &::after {
            content: '';
            display: block;
            margin: 0;
            height: 5px;
            background-color: $light;
        }
    }
}