.merch {

    .galery-merchandise {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}

.stash-riot {
    padding: $sp-5 $sp-4;

    &__desc {
        line-height: 2;
        font-size: 2rem;
        display: flex;
        // text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    &__box {
        border: 1px solid $gray;
        padding: $sp-2;

        p {
            padding: $sp-1;
            margin-bottom: $sp-3;

            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid $gray;
        }
    }
}

.licensees {
    padding: $sp-5 $sp-4;
    text-align: center;

    &__titles {
        padding: $sp-2;
    }
}