.banner-newsletter {
    $size: 4rem;
    padding-top: $size;
    padding-bottom: $size;
    text-align: center;

    background-color: $purple-base;
    color: $light;
    
    .newsletter {
        align-items: center;
        margin-bottom: 4rem;

        @include media('>=laptop') {
            margin-bottom: initial;
        }
        
        
        &__title {
            font-weight: $fw-normal;
            font-size: $title-size;
        }
        &__desc {
            font-size: $min-size;
        }

        &__form {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
        &__input {
            width: 75%;
            border-top-left-radius: 34px;
            border-bottom-left-radius: 34px;
            padding: 1.5rem;
            border: none;
        }
        &__submit {
            width: 25%;
            padding-left: 0;
            padding-right: 0;
            border-top-right-radius: 34px;
            border-bottom-right-radius: 34px;

            &:hover {
                background-color: $red-base;
            }
        }
    }


    .banner {
        background-color: transparent;
        color: inherit;

        @include media('>=laptop') {
            padding: 0;
            margin-top: -2rem;
        }
        
        &__title {
            font-weight: $fw-normal;
            font-size: $title-size;
        }

        &__icons {
            margin-top: 2rem;
            
            a {
                color: $light;
                &:hover{color: $yellow-base;}
            }

            &-vrv {
                filter: invert(1);
            }
        }
    }
}