.banner-newsletter {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    
    .newsletter {
        
        
        &__title {
            font-weight: $fw-normal;
        }
        &__desc {
            font-size: $min-size;
        }

        &__form {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
        &__input {
            width: 75%;
            border-top-left-radius: 34px;
            border-bottom-left-radius: 34px;
            padding: 1.5rem;
            border: none;
        }
        &__submit {
            width: 25%;
            border-top-right-radius: 34px;
            border-bottom-right-radius: 34px;
        }
    }


    .banner {
        background-color: transparent;
        color: $light;

        &__title {
            font-weight: $fw-normal;
        }

        &__icons {
            margin-top: 2rem;
            
            a {
                color: $light;
                // &:hover{color: $yellow-base;}
            }

            &-vrv {
                filter: invert(1);
            }
        }
    }
}