.banner {

    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    background-color: $yellow-base;
    color: $dark;
    text-align: center;

    transform: scaleX(.9);
    &-container {
        width: 100%;
        // Para evitar la separación entre las transiciones
        transform-origin: center;
        transform: scaleX(1.1);
    }

    &__icons {
        margin-top: 2.2rem;
        font-size: 2rem;

        @include media('>=laptop') {
            margin-top: 0;
            font-size: 2.2rem;
        }

        a { 
            color: $dark; 

            &:hover { color: $purple-base; }
        }

        &-vrv {
            display: block;
            background-image: img('vrv-logo-dark.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            width: 6rem;
            height: 2rem;
            align-self: center;
        }
    }
}