.btn {
    display: inline-block;
    // display: block;
    padding: 1.2rem 2.8rem;

    background-color: $dark;
    color: $light;
    border: none;
    cursor: pointer;
    outline: none;

    font-size: $shows-size;
    font-weight: $fw-normal;

    transition: all 0.2s ease-in;

    &--dark {
        background-color: $dark;
        
        &:hover {
            background-color: $red-base;
        }
    }
    &--red {
        background-color: $red-base;
        
        &:hover {
            background-color: $dark;
        }
    }
    &--purple {
        background-color: $purple-base;
        color: $light;
        
        &:hover {
            background-color: $red-dark;
        }
    }

   

    // hover para los botones normales
    &:hover {
        // background-color: lighten($dark-color, 20%);
        color: #fff;
    }
}