.galery {
    --width: 50rem;
    max-width: var(--width);
    margin: 0 auto;

    @include media('>=tablet') {
        --width: 70rem;
    }
    @include media('>=laptop') {
        --width: 90rem;
    }
    @include media('>=desktop') {
        --width: 100%;
    }

    article {
        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}