.galery-shows {
    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            height: 3px;
            background-color: $red-base;
        }

        @include media('>=phone'){
            font-size: $shows-size;            
        }
    }
}