.galery-shows {
    &__title {
        font-size: $shows-size;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            height: 3px;
            background-color: $red-base;
        }
    }
}