.tabs {
  margin: 3rem 0;
  padding: 2rem;

  background-color: $second-dark;
  border: 1px solid $gray-dark;
  border-radius: 1rem;



  &__item:first-child &__title {
    border-top: none;
  }

  &__title {
    padding: 1rem 0;
    border-top: 1px solid $gray-dark;
    font-size: $font-size;

    cursor: pointer;

    transition: color .3s ease-in-out;

    @include media('>=tablet') {
      font-size: $shows-size;
      &:hover {
        color: $yellow-base;
      }
    }
  }


  &__panel {
    max-height: 0;
    opacity: .1;
    visibility: hidden;
    margin-top: 0;

    line-height: 1.8;

    overflow: hidden;

    transition-property: visibility opacity height max-height margin-top;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    
    p {
      margin-bottom: 1.5rem;
    }
  }

  &--show {
    
    .tabs__title {
      color: $yellow-base;
    } 

    .tabs__panel {
      opacity: 1;
      visibility: visible;
      max-height: var(--height-panel);
      margin-top: 1.5rem;
    }
  }

}