.header {
    position: relative;

    &.open {

        .header__nav{
            // transform: translateX(0%);
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }
    
 
    &__logo {
        width: $logo-width;
        min-width: $logo-width;
    }

    &__hamburger {
        position: relative;
        z-index: z-index(offcanvas);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__hamburger-bars,
    &__hamburger-bars::before,
    &__hamburger-bars::after {
        background-color: #fff!important;
    }


    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: z-index(overlay);

        width: 100vw;
        height: 100vh;
        padding: 5rem;
        padding-top: 8rem;

        text-align: center;

        background-color: rgba(0, 0, 0, 0.9);
        line-height: 2.5;

        transform: scale(.6);
        visibility: hidden;
        opacity: 0;

        transition: opacity .5s ease-in-out, transform .3s ease-in-out;

        a {
            font-weight: $fw-bold;
            letter-spacing: 4px;

            @include media('>=tablet') {
                letter-spacing: initial;
            }    
        }
        
        @include media('>=tablet') {
            position: relative;
            top: initial;
            left: initial;
            height: initial;
            padding: 0;
            width: 60%;
            
            transform: initial;
            visibility: initial;
            opacity: initial;
        }

        @include media('>=laptop') {
            width: 70%;
        }



        &-top {
            font-size: $menu-top-size;

            @include media('>=tablet') {
                justify-content: space-between;
            }
        }
    
        &-bottom {
            --size-mt: 0;

            font-size: $menu-bottom-size;
            margin-top: var(--size-mt);

            @include media('>=tablet') {
                --size-mt: -1rem;
                justify-content: flex-end;
            }


            a {
                --size-ml: 0;
                margin-left: var(--size-ml);
                
                @include media('>=tablet') {
                    font-weight: $fw-light;
                    --size-ml: 2rem;
                }
                @include media('>=laptop') {
                    --size-ml: 3rem;
                }
            }       
        }
    }
}