.header {
    position: relative;
    --size-x: 4rem;
    --size-y: 1rem;

    padding: var(--size-y) var(--size-x);

    @include media('>=tablet') {
        --size-x: 7rem;
    }

    &.open {

        .header__nav{
            // transform: translateX(0%);
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }
    
 
    &__logo {
        width: $logo-width;
        min-width: $logo-width;

        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.06);
        }
    }

    &__hamburger {
        position: relative;
        z-index: z-index(offcanvas);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(15px);
    }
    &__hamburger-bars,
    &__hamburger-bars::before,
    &__hamburger-bars::after {
        background-color: #fff!important;
    }


    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: z-index(overlay);

        display: grid;

        width: 100vw;
        height: 100vh;
        padding: 3rem;
        padding-top: 7rem;

        text-align: center;

        background-color: rgba(0, 0, 0, 0.9);

        transform: scale(.8);
        visibility: hidden;
        opacity: 0;

        transition-property: opacity, transform, visibility;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;

        a {
            font-weight: $fw-bold;
            letter-spacing: 4px;

            @include media('>=tablet') {
                letter-spacing: initial;
            }    
        }
        
        @include media('>=tablet') {
            position: relative;
            top: initial;
            left: initial;
            height: initial;
            padding: 0;
            width: 55%;
            
            transform: initial;
            visibility: initial;
            opacity: initial;
        }

        @include media('>=laptop', '<1250px') {
            width: 65%;
        }


        &-top,
        &-bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @include media('>=tablet') {
                flex-direction: initial;
                justify-content: space-between;
                align-items: center;
            }
        }

        &-top {
            font-size: $menu-top-size;

            @include media('>=tablet') {
                justify-content: space-between;
            }
        }
    
        &-bottom {
            --size-mt: 0;

            font-size: $menu-bottom-size;
            margin-top: var(--size-mt);

            @include media('>=tablet') {
                --size-mt: -1rem;
                justify-content: flex-end;
            }

            @include media('<tablet') {
                li:first-child {
                    line-height: 1.7;    
                }
            }

            a {
                --size-ml: 0;
                margin-left: var(--size-ml);
                
                @include media('>=tablet') {
                    font-weight: $fw-light;
                    --size-ml: 2rem;
                }
                @include media('>=laptop') {
                    --size-ml: 3rem;
                }
            }       
        }
    }
}