.main-footer {
    padding: $sp-4 0;

    .menu-footer {
        padding: 0 3rem;
        // height: 50.0rem;
        &__logo {
            min-height: 23rem;
            display: block;
            background: img('logo-footer.gif') no-repeat top;
            background-size: 170px;
            
    
            @include mq(tablet) {
                grid-column: 1 / 5;
                
            }
            @include mq(laptop) {
                grid-column: initial;
            }
        }

        &__sub-title {
            font-weight: $fw-bold;
            margin-bottom: $sp-1;
        }

    }

    .menu-credits {
        text-align: center;
        font-weight: $fw-light;
        line-height: 1.8;
        font-size: 1.5rem;

        &__love {
            color: $red-base;
        }
    }
}