// Funcion para obtener imagenes
@function img($img) {
    @return url('../../img/#{$img}'); 
}

@function z-index($val) {
    @return map-get($z-index, $val);
}
     
%custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--yellow-base);
    
    &::-webkit-scrollbar {
        width: 10px;
    }
   
        
    &::-webkit-scrollbar-track {
        background: transparent;
    }
   
        
    &::-webkit-scrollbar-thumb {
        background-color: transparentize($yellow-base, .2);
        transition: background-color .2s ease-in-out;
        // border-radius: 25px;
        &:hover {
            background-color: var(--yellow-base);
        }
    }
}