.u {

    // Container
    &-box {
        --width: 90%;
        --p-y: 2.5rem;
        --p-x: calc(var(--p-y) - .5rem);

        width: var(--width);
        margin: 0 auto;
        max-width: $max-width;


        @include media('>=tablet') {
            --p-y: 6rem;
            --width: 85%;
        }

        @include media('>=laptop') {
            --width: 80%;
        }

        @include media('>=desktop') {
            // max-width: $max-width;
        }

    
        &--pall {
            padding-top: var(--p-y);
            padding-bottom: var(--p-y);
            padding-left: var(--p-x);
            padding-right: var(--p-x);

        }
    
        &--py {
            padding-top: var(--p-y);
            padding-bottom: var(--p-y);
    
        }
        &--px {
            padding-left: var(--p-x);
            padding-right: var(--p-x);
        }
    
        &--pt {
            padding-top: var(--p-y);
        }
        &--pb {
            padding-bottom: var(--p-y);
    
        }
        &--pl {padding-left: var(--p-x);}
        &--pr {padding-right: var(--p-x);}
    
    }


    &-round-img { border-radius: 50%;}
    &-truncate {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    // Backgrounds  
    &-bg {
        &--yellow {
            background-color: $yellow-base;
        }
        &--dark {
            background-color: $dark;
        }
        &--light {
            background-color: $light;
        }
        &--red {
            background-color: $red-base;
        }
        &--purple {
            background-color: $purple-base;
        }   
    }

    &-highlight {
        font-weight: $fw-bold;
        color: $purple-light;
    }
    &-active {
        // font-weight: $fw-bold !important;
        color: $yellow-base;
    }
    
    // Visibility
    &-none { display: none; }
    &-invisible { overflow: hidden; }

    &-hide-for-mobile {
        // Hide for tablet and mobile
        @include media('<tablet') {
            display: none!important;
        }
    }
    &-hide-for-desktop {
        // Hide for desktop viewport widths
        @include media('>=tablet') {
            display: none!important;
        }
    }
    
    
    
}