// Responsive Grid 
.u-responsiveGrid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
    
// Resposive Flexbox
.u-responsiveFlex {
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex: 1 1 200px;
    }
}

// Para titutlos
.u-message {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;

    @include mq(m) { font-size: 1.5rem ; }
}

// Para ocultar un elemento
.u-none { display: none; }



// Container
.container {
    max-width: $max-width;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 2rem;
    // margin-top: 6rem;
    // margin-bottom: 3rem;
}

// Text Styles
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.text-primary {
    color: $light;
}

.u-round-img {
    border-radius: 50%;
}

.u-line {
    height: 3px;
    width: 30%;
    background-color: #ccc;
    margin: 4rem auto;
}

// Buttons


.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);    
}

// Backgrounds  
.bg {
    &-yellow {
        background-color: $yellow-base;
    }
    &-dark {
        background-color: $dark;
    }
    &-light {
        background-color: $light;
    }
    &-red {
        background-color: $red-base;
    }
    &-purple {
        background-color: $purple-base;
    }
    
}

// Clases de paddings y margins
@each $space in $spaceamounts {
    // All around marging
    .m-#{$space} {
        margin: #{$space}rem;
    }
    // Vertical margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    // All around padding
    .p-#{$space} {
        padding: #{$space}rem;
    }
    // Vertical padding
    .py-#{$space} {
        padding: #{$space}rem 0;
        color: rgb(74, 110, 189);
    }
}

// ====================================
.u {
    
    // Responsive Grid 
    &-responsiveGrid {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
        
    // Resposive Flexbox
    &-responsiveFlex {
        display: flex;
        flex-wrap: wrap;
    
        & > * {
            flex: 1 1 200px;
        }
    }
    


    &-round-img {
        border-radius: 50%;
    }
    &-center-text {
        text-align: center;
    }
    &-line {
        height: 3px;
        width: 30%;
        background-color: #ccc;
        margin: 4rem auto;
    }


    // Backgrounds  
    &-bg {
        &--yellow {
            background-color: $yellow-base;
        }
        &--dark {
            background-color: $dark;
        }
        &--light {
            background-color: $light;
        }
        &--red {
            background-color: $red-base;
        }
        &--purple {
            background-color: $purple-base;
        }   
    }
    
    // Visibility
    &-none { display: none; }
    &-invisible { overflow: hidden; }

    &-hide-for-mobile {
        // Hide for tablet and mobile
        @include media('<tablet') {
            display: none!important;
        }
    }
    &-hide-for-desktop {
        // Hide for desktop viewport widths
        @include media('>=tablet') {
            display: none!important;
        }
    }
       
}