.u {

    // Container
    &-box {
        max-width: $max-width;
        margin: 0 auto;
        --p-y: 2.2rem;
        --p-x: 1.4rem;
    
        &--pall {
            padding-top: var(--p-y);
            padding-bottom: var(--p-y);
            padding-left: var(--p-x);
            padding-right: var(--p-x);
    
            @include media('>=laptop') {
                padding-top: 9.6rem;
                padding-bottom: 9.6rem;
            }
        }
    
        &--py {
            padding-top: var(--p-y);
            padding-bottom: var(--p-y);
    
            @include media('>=laptop') {
                padding-top: 9.6rem;
                padding-bottom: 9.6rem;
            }
        }
        &--px {
            padding-left: var(--p-x);
            padding-right: var(--p-x);
        }
    
        &--pt {
            padding-top: var(--p-y);
            
            @include media('>=laptop') {
                padding-top: 9.6rem;
                
            }
        }
        &--pb {
            padding-bottom: var(--p-y);
    
            @include media('>=laptop') {
                padding-bottom: 9.6rem;
                
            }
        }
        &--pl {padding-left: var(--p-x);}
        &--pr {padding-right: var(--p-x);}
    
    }

    $min-size: 15rem;
    // Responsive Grid 
    &-responsiveGrid {
        display: grid;
        // gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax($min-size, 1fr));
    }
        
    // Resposive Flexbox
    &-responsiveFlex {
        display: flex;
        flex-wrap: wrap;
    
        & > * {
            flex: 1 1 $min-size;
        }
    }
    

    &-text-center { text-align: center;}
    &-round-img { border-radius: 50%;}
    &-line {
        height: 3px;
        width: 80%;
        background-color: #ccc;
        margin: 4rem auto;
    }


    // Backgrounds  
    &-bg {
        &--yellow {
            background-color: $yellow-base;
        }
        &--dark {
            background-color: $dark;
        }
        &--light {
            background-color: $light;
        }
        &--red {
            background-color: $red-base;
        }
        &--purple {
            background-color: $purple-base;
        }   
    }
    
    // Visibility
    &-none { display: none; }
    &-invisible { overflow: hidden; }

    &-hide-for-mobile {
        // Hide for tablet and mobile
        @include media('<tablet') {
            display: none!important;
        }
    }
    &-hide-for-desktop {
        // Hide for desktop viewport widths
        @include media('>=tablet') {
            display: none!important;
        }
    }
    
    
    
}