/* Page load animation */
.general-once
    opacity: 0

    // When the transition happen
    &-active
        transition: opacity 1s var(--bezier-curve) .3s

    // When the transition end's
    &-to
        opacity: 1
/* Slide to general */
// La transición cuando se va la página anterior
.general-leave 
    transform: translateX(0vw) 

    // When the transition happen
    &-active
        width: 100vw
        // +media('>=laptop')
        //     width: calc(100vw - 10px)
        // transition: transform 1s cubic-bezier(0.68,-0.55, 0.26, 1.59)
        transition: transform 1s var(--bezier-curve)

    // When the transition end's
    &-to
        transform: translateX(-100vw)

// La transición cuando entra la página actual
.general-enter 
    transform: translateX(100vw)

    // When the transition happen
    &-active
        width: 100vw
        // +media('>=laptop')
        //     width: calc(100vw - 10px)
        // transition: transform 1s cubic-bezier(0.68,-0.55, 0.26, 1.59)
        transition: transform 1s var(--bezier-curve)
        position: absolute
        top: var(--header-height)
        left: 0
        background: black 

    // When the transition end's
    &-to
        // Para que la pagina entrante se posicione de manera absoluta
        transform: translateX(0)