// Importar tipografia
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto+Condensed:300,400,700&display=swap');
// Importar iconos
// @import url("https://file.myfontastic.com/CtJ7M0B6DyxJKbZveWPadP/icons.css");

// @import "../helpers/utilities";
/********************* RESET *********************/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
    // Evita desbordamientos a los lados
    overflow-x: hidden;
    @include media('>=laptop'){
        // TODO: Coloca la scrollbar por encima del contenido
        overflow-y: overlay;
    }

    // font-family: $title-font;
    // background-color: $dark;
    // line-height: $line-height;
    // color: $light;
}
[data-barba="container"] {
    // Evita desbordamientos por parte del banner
    overflow-x: hidden !important;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

// Por si un elemento se desborda
body {
    font-family: $title-font;
    font-size: $font-size;
    line-height: $line-height;
    color: $light;
    background-color: $dark;
    overflow-x: hidden;

    @extend %custom-scrollbar;
}

h1, h2, h3, h4 {
    margin: 0;
    line-height: 1.3;
    color: color(gray-dark);
    font-weight: $fw-bold
}
h1 {font-size: $h1;}
h2 {font-size: $h2;}
h3 {font-size: $h3;}
h2, h3 {
    font-weight: $fw-light;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    font-family: $body-font;
    // font-family: $title-font;
    font-size: $min-size;
    line-height: 1.8;

    // margin-bottom: 2rem;
}
a {
    font-weight: $fw-light;
    text-decoration: none;
    color: $light;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover{color: $yellow-base;}
}
p a {
    color: $yellow-base;
    &:hover{color: $purple-base;}
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.no-scroll {
    overflow: hidden;
}